
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,600i,700,700i,800|Open+Sans:400,400i,600,600i,700,700i,800&display=swap);

.maejo_text{
  /* ขนาด font */
  font-size: 30px; 
  /* ขนาดความหนา */
  font-weight: bold;
  color: white;
  /* เงาตัวอักษร */
  text-shadow: 2px 2px 4px darkgrey;

}   
.maejo_eng_text{
  /* ขนาด font */
  font-size: 20px; 
  /* ขนาดความหนา */
  font-weight: bold;
  color: white;
  /* เงาตัวอักษร */
  text-shadow: 2px 2px 4px darkgrey;
}
.navbar_logo_center{
  height: 70px;
}


.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

